% my $title   = $_[0]->{title};
% my $version = $_[0]->{version};
% my @css     = @{$_[0]->{css}};
% my @scripts = @{$_[0]->{scripts}};
% my $appjs   = $_[0]->{appjs};
<!doctype html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="メタ検索,同人誌,とらのあな,メロンブックス,ComicZin,psgi,Tatusmaki" />
<meta name="description" content="同人誌情報のメタ検索サービスです。とらのあな、メロンブックス、ComicZinの検索サービスを横断し、その結果をリスト表示します" />
% for my $css (@css) {
<link rel="stylesheet" type="text/css" href="<%= $css %>" />
% }
% for my $script (@scripts) {
<script type="application/javascript" src="<%= $script %>"></script>
% }
<title><%= $title %> <%= $version %></title>
</head>
<body>

<header id="l-header">
    <h1><%= $title %></h1>
    <h4><%= $version %></h4>
</header>

<section id="l-notify">
<script  id="t-notify" type="text/ractive">
    <div id="notify"
        class="{{isMode}} {{!! isDisplayNone ? 'is-display-none' : '' }}"
        on-click="disp"
    >{{message}}</div>
</script>
</section>

<section id="l-search-form">
<script  id="t-search-form" type="text/ractive">
    <form action="javascript:void(0);" on-submit="search:{{command}}">
        <input type="search"
            id="command-line"
            class="input-u-1"
            value="{{command}}"
            placeholder="input command..."
            required
        />
    </form>
</script>
</section>

<main id="l-main">
<script id="t-main" type="text/ractive">
    <section id="l-results">
        <h2>results</h2>
        <dl>
            {{#results:i}}
            <dt
                on-click="display:{{i}}"
            ><i class="fa {{ isDisplayNone ? 'fa-minus-square' : 'fa-plus-square' }}"></i>
                {{service}}: {{ JSON.stringify(request)}} {{ response.length }}
            </dt>
            <dd class="{{ isDisplayNone ? 'is-display-none' : '' }}">
                {{#response:c}}
                    {{> res}}
                {{/response}}
                {{^response}}
                    <h5>no result...</h5>
                {{/response}}
            </dd>
            {{/results}}
            {{^results}}
            <h4>まだだよ</h4>
            {{/results}}
        </dl>
    </section>
    <section id="l-favorites">
        <h2>favorites ({{ len(favorites) }})</h2>
        {{# filter(favorites):i }}
            {{> res}}
        {{/ () }}
        {{^ filter(favorites) }}
            <h4>no favorites...</h4>
        {{/ () }}
    </section>

<!-- {{> res}} -->
<div class="item">
    <a href="{{urlOfTitle}}" target="_blank"><img src="{{srcOfThumbnail}}" /></a>
    <h5><a href="{{urlOfTitle}}" target="_blank">{{title}}</a></h5>
    {{#urlOfCircle}}
    <h5><a href="{{urlOfCircle}}" target="_blank">{{circle}}</a></h5>
    {{/urlOfCircle}}
    {{^urlOfCircle}}
    <h5>{{circle}}</h5>
    {{/urlOfCircle}}
    <div class="item-rate">
    {{ #star.rate:count }}
        <span
            on-hover="highlight:{{count}},{{../../../urlOfTitle}},{{c}},{{i}}"
            on-click="select:{{count}},{{ ../../../urlOfTitle}}"
            class="star {{ count < ../../onHover ? 'is-hover' : ''}} {{ count < ../../stared ? 'is-stared' : ''}}"
        ><i
            class="fa {{ count < ../../stared ? 'fa-star' : 'fa-star-o' }} fa-lg"
        ></i></span>
    {{ /star.rate }}
        :
        <span
            class="remove-star"
            on-click="select:-1,{{urlOfTitle}}"
        ><i class="fa fa-trash-o fa-lg"></i></span>
    </div>
</div>
<!-- {{/ res}} -->
</script>
</main>

<footer id="l-footer"></footer>

<script type="application/javascript" src="<%= $appjs %>"></script>
</body>
