/* base */
* {
    font-family: "Gill Sans", Helvetica, Arial, sans-serif;
}
/* layout */
#l-header {
    padding-top : 3.25em;
}
#l-header h1,
#l-header h4 {
    margin : 0;
    padding : 0;
    display : inline-block;
}

#l-notify {
}

#l-search-form {
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    z-index : 9;
    background-color: #ffffff;
}

#l-main {
    padding-bottom: 20em;
}

#l-results,
#l-favorites {
    width : 49%;
    text-align : center;
    vertical-align : top;
    display : inline-block;
}

#l-results dl {
    margin : 0;
    padding : 0;
}
#l-results dt {
    padding : 0 3px;
    line-height : 2em;
    text-align : left;
    border-bottom : 1px solid #dddddd;
    cursor : pointer;
}
#l-results dd {
    margin : 0;
    padding : 2em 0;
}
/* module */
#notify {
    position : fixed;
    top : 3.5em;
    left : 1.5em;
    padding : 1.25em;
    opacity : 0.92;
    border-radius: 12px;
    z-index : 10;
}

#command-line {
    border : 1px solid #aaaaaa;
    line-height : 2.25em;
    boder-radius : 6px;
}
.input-u-1 {
    width: 100%;
}

.item {
    display: inline-block;
    width : 48%;
    padding-bottom : 1.5em;
}
.item img {
    max-width : 200px;
    min-width : 180px;
    float : left;
}
.item h5 {
    margin : 0;
    padding : 3px 6px;
}
.item-rate {
    clear : both;
    padding : 0.5em;
}
.item-rate i {
    cursor : pointer;
}
/* state */
.is-display-none {
    display : none;
}
.is-websocket-connect {
    background-color : #ffff33;
}
.is-websocket-disconnected {
    background-color : #000000;
    color : #999999;
}
.is-info {
    background-color: #33ff33;
}
.is-error {
    background-color: #ff7733;
    font-weight: bold;
}

.is-hover {
    background-color : #ffff33;
    opacity : 0.88 !important;
    border-radius : 6px;
}
.is-stared {
    color : #33ff33;
}
/* theme */
